**/bin/
**/obj/
**/.vs/
**/.vscode/
**/node_modules/
**/*.user
**/*.userosscache
**/*.suo
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts/
**/secrets.dev.yaml
**/values.dev.yaml
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.env
*.md
!README.md
